.profile__edit-button{
  width: 24px;
  height: 24px;
  border: 1px solid #FFFFFF;
  display: grid;
  align-items: center;
  background-color: black;
  align-self: center;
  opacity: 1.0;
}

.profile__edit-button:hover, .profile__edit-button:hover .profile__edit-icon{
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 581px){
  
}