.popup__title{
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-bottom: 54px;
}

@media screen and (max-width: 320px){
  .popup__title{
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 36px;
  }
}