.header__logo{
  width: 173px;
  height: 33px;
  padding-bottom: 41px;

}

@media screen and (max-width: 979px){
  .header__logo{
    width: 126px;
    height: 24px;
    padding-top: 28px;
    padding-bottom: 32px;
    padding-left: 27px;
  }
}