.header__logo{
  width: 173px;
  height: 33px;
  margin-top: 45px;
  margin-bottom: 41px;
}
@media screen and (max-width: 581px){


  .header__logo{
    width: 126px;
    height: 24px;
    margin: 28px 0px 32px 27px;
  }
}