.profile__image-container{
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin-right: 30px;
  position: relative;
}

@media screen and (max-width: 1279px){
  .profile__image-container{
    align-self: center;
  }
}

@media screen and (max-width: 979px){
  .profile__image-container{
    margin-right: 0px;
  }
}