.elements{
  display: grid;
  grid-gap: 18px;
  grid-template-columns:repeat(auto-fit, minmax(282px, 1fr));
  margin: auto;
  margin-bottom: 66px;
  max-width: 882px;
}

@media screen and (max-width: 1279px){
  .elements{
    max-width: 582px;
  }
}

@media screen and (max-width: 979px){
  .elements{
    max-width: 282px;
    grid-gap: 20px;
    padding-left: 19px;
    padding-right: 19px;
  }
}