.popup__card-submit{
  width: 358px;
  height: 50.15px;
  background: #000000;
  border-radius: 2px;
  margin: 48px auto 0px auto;
  color: white;
  cursor: pointer;
  opacity: 1.0;
  border-style: none;
}

.popup__card-submit:hover{
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 320px){
  .popup__card-submit{
    width: 160px;
  }
}