.element__image{
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0px 0px;  
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  background-position: center;
}

.element__image:hover{
  cursor: pointer;
}