@import url(./__logo/header__logo.css);
@import url(./__line/header__line.css);



@media screen and (max-width: 1279px){
  .header{
    max-width: 582px;
    margin: auto;
  }
}

@media screen and (max-width: 979px){
  .header{
    max-width: 282px;
  }
}