/* vendor */
@import url(../vendor/normalize.css);

/* fonts */
@import url(../fonts/Inter-3.13/Inter_Web/inter.css);

/* block */
@import url(../block/page/page.css);
@import url(../block/popup/popup.css);
@import url(../block/fieldset/fieldset.css);
@import url(../block/header/header.css);
@import url(../block/profile/profile.css);
@import url(../block/elements/elements.css);
@import url(../block/element/element.css);
@import url(../block/footer/footer.css);


