.popup__form{
  background-color: white;
  padding: 34px 36px 36.51px 36px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  z-index: 10;
  margin: auto;
  position: relative;
}
@media screen and (max-width: 320px){
  .popup__form{
    max-width: 240px;
    max-height: 258px;
    padding: 30px 40px 30px 40px;
    box-sizing: border-box;
  }
}