@import url(./__copyright/footer__copyright.css);
.footer{
  color: #545454;
}

@media screen and (max-width: 881px){
  .footer{
    max-width: 582px;
    margin: auto;
  }
}


@media screen and (max-width: 581px){

  .footer{
    max-width: 282px;
    margin-left: 19px;
  }
}