.profile__image-overlay{
  border-radius: 50%;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.0;
  background-image: none;
  z-index: 2;
}

.profile__image-overlay:hover{
  cursor: pointer;
  opacity: 0.8;

  background-image: url('../../../images/ui/edit-avatar.svg');
  background-position: center;
  object-fit: cover; 
  background-repeat: no-repeat;
}