.profile__add-button{
  width: 150px;
  height: 50px;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  background-color: black;
  opacity: 1;
  justify-self: center;
  align-self: center;
  margin-left: 154px;

  background-image: url('../../../images/ui/add.svg');
  background-position: center;
  object-fit: cover; 
  background-repeat: no-repeat;

}

.profile__add-button:hover, .profile__add-button:hover .profile__add-icon{
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 1279px){
  .profile__add-button{
    margin-left: 0px;
  }
}

@media screen and (max-width: 979px){

  .profile__add-button{
    width: 282px;
  }
}