@import url(./__copyright/footer__copyright.css);
.footer{
  color: #545454;
  margin: auto;
}

@media screen and (max-width: 1279px){
  .footer{
    max-width: 582px;
  }
}

@media screen and (max-width: 979px){
  .footer{
    max-width: 282px;
    margin:auto;
    padding-left: 19px;
    padding-bottom: 36px;
  }
}