@import url(./__image/element__image.css);
@import url(./__like-icon/element__like-icon.css);
@import url(./__title/element__title.css);

.element{
  background: #FFFFFF;
  border-radius: 10px;
  text-align: center;
}