@import url(./__image/element__image.css);
@import url(./__likes-container/element__likes-container.css);
@import url(./__likes-display/element__likes-display.css);
@import url(./__like-button/element__like-button.css);
@import url(./__title/element__title.css);
@import url(./__text/element__text.css);
@import url(./__delete-button/element__delete-button.css);
@import url(./__loading/element__loading.css);

.element{
  background: #FFFFFF;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  height: auto;
  max-width: 282px;
  position: relative;
}
