.popup__close{
  width: 58px;
  height: 58px;
  opacity: 1.0;
  z-index: 2;
  top: -58px;
  right: -58px;
  position: absolute;
}

.popup__close:hover{
  cursor: pointer;
  opacity: 0.6;
}