.popup__input-name{
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 29.74px;
}

@media screen and (max-width: 320px){
  .popup__title{
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;

  }
}
