.profile__image{
  border-radius: 50%;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

@media screen and (max-width: 1279px){
  .profile__image{
    align-self: center;
  }
}

@media screen and (max-width: 979px){
  .profile__image{
    margin-right: 0px;
  }
}
